<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="faizan2304.Myget" value="https://www.myget.org/F/faizan2304/api/v3/index.json" />
  </packageSources>
</configuration>
